---
layout: default
permalink: /archives/
---


<h2>Archives</h2>
<div class="posts">
	{% for post in site.posts %}

	{% unless post.next %}
	<h3>{{ post.date | date: '%Y' }}</h3><ul>
	{% else %}
	{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
	{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
	{% if year != nyear %}
	</ul><h3>{{ post.date | date: '%Y' }}</h3><ul>
	{% endif %}
	{% endunless %}

	<li>{{ post.date | date:"%b %d" }} <a href="{{ site.baseurl }}{{ post.url }}" class="post-{{ post.type }}{% if post.type == "image" %} hoverZoomLink{% endif %}"{% if post.type == "image" %} data-hover-zoom-src='["{{ post.embed_url }}"]'{% endif %}>{{ post.title }}</a></li>
	{% endfor %}
  </ul>
</div>
