---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

	  {% if post.type != "quote" %}
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
	  {% endif %}

      <div class="entry entry-{{ post.type }}">
		{% if post.type == "quote" %}
		{{ post.content }}
		{% else %}
        {{ post.excerpt }}
		{% endif %}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>
