---
layout: default
---

<h1>{{ page.title }}</h1>

<div class="posts"><ul>
  {% for post in site.posts %}
  {% case page.archive %}
  {% when 'month' %}{% capture postmonth %}{{ post.date | date: '%Y-%m' }}{% endcapture %}
  {% if postmonth != page.year-month %}{% continue %}{% endif %}
  {% when 'year' %}{% capture postyear %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if postyear != page.year %}{% continue %}{% endif %}
  {% when 'tag' %}{% unless post.tags contains page.tag %}{% continue %}{% endunless %}
  {% endcase %}
  <li>{{ post.date | date:"%b %d" }} <a href="{{ site.baseurl }}{{ post.url }}"{% if post.type == "image" %} data-hover-zoom-src='["{{ post.embed_url }}"]' class="hoverZoomLink"{% endif %}>{{ post.title }}</a></li>
  {% endfor %}
</ul></div>
