---
layout: default
---

<h1>{{ page.title }}</h1>

<div class="posts archive"><ul>
  {% for post in site.posts %}
  {% case page.archive %}
  {% when 'day' %}{% capture postday %}{{ post.date | date: '%Y-%m-%d' }}{% endcapture %}
  {% if postday != page.year-month-day %}{% continue %}{% endif %}
  {% when 'month' %}{% capture postmonth %}{{ post.date | date: '%Y-%m' }}{% endcapture %}
  {% if postmonth != page.year-month %}{% continue %}{% endif %}
  {% when 'year' %}{% capture postyear %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if postyear != page.year %}{% continue %}{% endif %}
  {% when 'tag' %}{% unless post.tags contains page.tag %}{% continue %}{% endunless %}
  {% when 'type' %}{% unless post.type == page.type %}{% continue %}{% endunless %}
  {% endcase %}
  <li>{{ post.date | date:"%b %d" }} <a href="{{ site.baseurl }}{{ post.url }}" class="post-{{ post.type }}{% if post.type == "image" %} hoverZoomLink{% endif %}"{% if post.type == "image" %} data-hover-zoom-caption="{{ post.title|xml_escape}}" data-hover-zoom-src='["{{ post.embed_url }}"]'{% endif %}>{{ post.title }}</a></li>
  {% endfor %}
</ul></div>
