---
layout: default
---

<h1>{{ page.title }}</h1>

<div class="posts"><ul>
  {% for post in site.posts %}
  {% case page.archive %}
  {% when 'month' %}{% capture postmonth %}{{ post.date | date: '%Y-%m' }}{% endcapture %}
  {% if postmonth != page.year-month %}{% continue %}{% endif %}
  {% when 'year' %}{% capture postyear %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if postyear != page.year %}{% continue %}{% endif %}
  {% when 'tag' %}{% unless post.tags contains page.tag %}{% continue %}{% endunless %}
  {% endcase %}
  <li>{{ post.date | date:"%b %d" }} <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
  {% comment %}
    <article class="post post-{{ post.type }}">

	  {% if post.type != "quote" %}
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
	  {% endif %}

      <div class="entry entry-{{ post.type }}">
		{% if post.type == "quote" %}
		{{ post.content }}
		{% else %}
        {{ post.excerpt }}
		{% endif %}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endcomment %}
  {% endfor %}
</ul></div>
